html, body{
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family)
}

.text-layout{
   color: var(--text-color);
}

.card{
    width: 450px;
    height: 250px;
}

